In [5]:
import json
import pandas as pd
import ast
import re
from textblob import TextBlob

rutas archivos json

In [6]:
ruta_steam_games = 'datasets/output_steam_games.json'
ruta_users_items = 'datasets/australian_users_items.json'
ruta_users_reviews = 'datasets/australian_user_reviews.json'

rutas archivos parquet.gz

In [7]:
ruta_parquet_games = "datasets/data_steam_games.parquet.gz"
ruta_parquet_reviews = "datasets/data_reviews.parquet.gz"
ruta_parquet_items = "datasets/data_items.parquet.gz"

ruta_csv

In [8]:
ruta_games_csv = 'datasets/steam_games.csv'
ruta_items_csv = 'datasets/users_items.csv'
ruta_reviews_csv = 'users_reviews.csv'

empezando extracción  dataframe steam_games

In [7]:

dic_steam_games = []
with open(ruta_steam_games, 'r') as file:
    for line in file:
        json_data = json.loads(line)
        dic_steam_games.append(json_data)
df_steam_games = pd.DataFrame(dic_steam_games)
df_steam_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76561197970982479,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik...",277.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,js41637,76561198035864385,"[{'item_id': '10', 'item_name': 'Counter-Strik...",888.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,evcentric,76561198007712555,"[{'item_id': '1200', 'item_name': 'Red Orchest...",137.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Riot-Punch,76561197963445855,"[{'item_id': '10', 'item_name': 'Counter-Strik...",328.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,doctr,76561198002099482,"[{'item_id': '300', 'item_name': 'Day of Defea...",541.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,1.49,"[Single-player, Steam Achievements]",1.99,False,773640,NaN,"Nikita ""Ghost_RUS""",NaN,NaN,NaN,NaN
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,4.24,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,NaN,Sacada,NaN,NaN,NaN,NaN
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,1.39,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,NaN,Laush Dmitriy Sergeevich,NaN,NaN,NaN,NaN
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,NaN,"xropi,stev3ns",NaN,NaN,NaN,NaN
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN,NaN,NaN,NaN,NaN,NaN

especificando el nombre y guardando el archivo como csv

In [5]:
df_steam_games.to_csv(ruta_games_csv, index=False, sep=';', encoding="utf-8")

In [6]:
df_steam_games = pd.read_csv(ruta_games_csv, sep=";")

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_13184\3680068132.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_steam_games = pd.read_csv(nombre_games, sep=";")

In [7]:
df_steam_games = df_steam_games.drop_duplicates()

guardando el archivo como parquet

In [8]:
df_steam_games.to_parquet(ruta_parquet_games)

empezando extracción  dataframe user_items

In [9]:
with open(ruta_users_items, 'r', encoding='utf-8') as f:
    data =f.readlines()

records = [eval(line.strip()) for line in data]

df_users_items = pd.DataFrame(records)

# Crear el DataFrame con las columnas user_id, items_count, steam_id y user_url
df_users_info = df_users_items[['user_id', 'items_count', 'steam_id', 'user_url']]

# Crear una lista para almacenar los registros desglosados de items
items_records = []

# Recorrer el DataFrame original y desglosar los elementos de items
for index, row in df_users_items.iterrows():
    user_id = row['user_id']
    items_list = row['items']
    for item in items_list:
        item_record = {
            'user_id': user_id,
            'item_id': item['item_id'],
            'item_name': item['item_name'],
            'playtime_forever': item['playtime_forever'],
            # 'playtime_2weeks': item['playtime_2weeks']
        }
        items_records.append(item_record)

# Crear el DataFrame con los registros desglosados de items
df_items_info = pd.DataFrame(items_records)

df_items_info

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6
1,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,30,Day of Defeat,7
3,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0
5153205,76561198329548331,373330,All Is Dust,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,519140,Minds Eyes,3

guardando el archivo como csv

In [10]:
df_items_info.to_csv(ruta_items_csv, index=False, sep=';', encoding='utf-8')

In [11]:
df_items_info = pd.read_csv(ruta_items_csv,sep=";")

In [12]:
df_items_info = df_items_info.drop_duplicates()

guardando el archivo como parquet

In [13]:
df_items_info.to_parquet(ruta_parquet_items)

empezando extracción  dataframe user_reviews

In [15]:
# Abre el archivo JSON y lee los datos
with open(ruta_users_reviews, 'r', encoding='utf-8') as f:
    data = f.readlines()
# Corrige el formato JSON eliminando comas al final de las líneas y encierra todo en corchetes para formar una lista de diccionarios válida
fixed_data = "[" + ",".join(data) + "]"
# Convierte el JSON en una lista de diccionarios
records = eval(fixed_data)
# Crea el DataFrame con las reviews y agrega la relación con user_id
df_users_reviews = pd.DataFrame([{
    "user_id": record["user_id"],
    "item_id": review["item_id"],
    "posted": review["posted"],
    "recommend": review["recommend"],
    "review": review["review"]
} for record in records for review in record["reviews"]])
df_users_reviews

,user_id,item_id,posted,recommend,review
0,76561197970982479,1250,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,"Posted July 15, 2011.",True,It's unique and worth a playthrough.
2,76561197970982479,43110,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,"Posted June 24, 2014.",True,I know what you think when you see this title ...
4,js41637,227300,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59300,76561198312638244,70,Posted July 10.,True,a must have classic from steam definitely wort...
59301,76561198312638244,362890,Posted July 8.,True,this game is a perfect remake of the original ...
59302,LydiaMorley,273110,Posted July 3.,True,had so much fun plaing this and collecting res...
59303,LydiaMorley,730,Posted July 20.,True,:D
59304,LydiaMorley,440,Posted July 2.,True,so much fun :D

guardando el archivo como csv

In [17]:
df_users_reviews.to_csv(ruta_reviews_csv, index=False, sep=';', encoding='utf-8')

In [18]:
df_users_reviews = pd.read_csv('users_reviews.csv',sep=";")

In [19]:
df_users_reviews = df_users_reviews.drop_duplicates()

guardando el archivo como parquet

In [20]:

df_users_reviews.to_parquet(ruta_parquet_reviews)

***tratamiento y limpieza de datos***

 tratamiento y limpieza archivo steam_games

In [22]:
#lectura del archivo
df_games = pd.read_parquet(ruta_parquet_games)
df_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
0,None,None,None,None,None,None,None,None,NaN,None,None,None,NaN,NaN,None,76561197970982479,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",277.0
1,None,None,None,None,None,None,None,None,NaN,None,None,None,NaN,NaN,None,js41637,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",888.0
2,None,None,None,None,None,None,None,None,NaN,None,None,None,NaN,NaN,None,evcentric,7.656120e+16,"[{'item_id': '1200', 'item_name': 'Red Orchest...",137.0
3,None,None,None,None,None,None,None,None,NaN,None,None,None,NaN,NaN,None,Riot-Punch,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",328.0
4,None,None,None,None,None,None,None,None,NaN,None,None,None,NaN,NaN,None,doctr,7.656120e+16,"[{'item_id': '300', 'item_name': 'Day of Defea...",541.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']",http://steamcommunity.com/app/773640/reviews/?...,1.49,"['Single-player', 'Steam Achievements']",1.99,False,773640.0,NaN,"Nikita ""Ghost_RUS""",None,NaN,None,NaN
120441,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"['Strategy', 'Indie', 'Casual']",http://steamcommunity.com/app/733530/reviews/?...,4.24,"['Single-player', 'Steam Achievements', 'Steam...",4.99,False,733530.0,NaN,Sacada,None,NaN,None,NaN
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"['Indie', 'Simulation', 'Racing']",http://steamcommunity.com/app/610660/reviews/?...,1.39,"['Single-player', 'Steam Achievements', 'Steam...",1.99,False,610660.0,NaN,Laush Dmitriy Sergeevich,None,NaN,None,NaN
120443,SIXNAILS,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"['Single-player', 'Steam Achievements', 'Steam...",4.99,False,658870.0,NaN,"xropi,stev3ns",None,NaN,None,NaN
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550.0,NaN,None,None,NaN,None,NaN

In [23]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119788 entries, 0 to 120444
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24064 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    30068 non-null  object
 6   tags            31972 non-null  object
 7   reviews_url     32133 non-null  object
 8   discount_price  225 non-null    float64
 9   specs           31465 non-null  object
 10  price           30758 non-null  object
 11  early_access    32135 non-null  object
 12  id              32133 non-null  float64
 13  metascore       2607 non-null   float64
 14  developer       28836 non-null  object
 15  user_id         87653 non-null  object
 16  steam_id        87653 non-null  float64
 17  items           87653 non-null  object
 18  items_count     87653 non-null  float64
dtypes: float64(5), object(14)
memory usage: 18.3+ MB

In [24]:
df_games.dtypes

publisher          object
genres             object
app_name           object
title              object
url                object
release_date       object
tags               object
reviews_url        object
discount_price    float64
specs              object
price              object
early_access       object
id                float64
metascore         float64
developer          object
user_id            object
steam_id          float64
items              object
items_count       float64
dtype: object

In [25]:

df_games.isna().sum()

publisher          95724
genres             90936
app_name           87655
title              89703
url                87653
release_date       89720
tags               87816
reviews_url        87655
discount_price    119563
specs              88323
price              89030
early_access       87653
id                 87655
metascore         117181
developer          90952
user_id            32135
steam_id           32135
items              32135
items_count        32135
dtype: int64

removendo columnas no necesárias

In [26]:
df_games = df_games.drop(columns=["publisher","app_name","title","url","tags","reviews_url","discount_price","specs","early_access","developer","user_id","steam_id","items","items_count","price", "metascore"], axis=1)
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119788 entries, 0 to 120444
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28852 non-null  object
 1   release_date  30068 non-null  object
 2   price         30758 non-null  object
 3   id            32133 non-null  float64
 4   metascore     2607 non-null   float64
dtypes: float64(2), object(3)
memory usage: 5.5+ MB

In [27]:
df_games = df_games.dropna()
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2519 entries, 88338 to 120427
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        2519 non-null   object
 1   release_date  2519 non-null   object
 2   price         2519 non-null   object
 3   id            2519 non-null   float64
 4   metascore     2519 non-null   float64
dtypes: float64(2), object(3)
memory usage: 118.1+ KB

renombrando columna id para itemid

In [ ]:
df_games = df_games.rename(columns = {"id":"item_id"})

conversión del dataframe limpio en parquet

In [28]:
df_games.to_parquet(ruta_parquet_games, index=False)

 tratamiento y limpieza archivo users_items

In [14]:
#lectura del archivo
df_items = pd.read_parquet(ruta_parquet_items)
df_items

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6
1,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,30,Day of Defeat,7
3,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0
5153205,76561198329548331,373330,All Is Dust,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,519140,Minds Eyes,3

In [15]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5094092 entries, 0 to 5153208
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           int64
 2   item_name         object
 3   playtime_forever  int64
dtypes: int64(2), object(2)
memory usage: 194.3+ MB

In [16]:
df_items.dtypes

user_id             object
item_id              int64
item_name           object
playtime_forever     int64
dtype: object

In [17]:
df_items.isna().sum()

user_id             0
item_id             0
item_name           0
playtime_forever    0
dtype: int64

In [18]:
df_items.to_parquet(ruta_parquet_items)

 tratamiento y limpieza archivo users_reviews

In [34]:
#lectura del archivo
df_reviews = pd.read_parquet(ruta_parquet_reviews, index=False)
df_reviews

,user_id,item_id,posted,recommend,review
0,76561197970982479,1250,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,"Posted July 15, 2011.",True,It's unique and worth a playthrough.
2,76561197970982479,43110,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,"Posted June 24, 2014.",True,I know what you think when you see this title ...
4,js41637,227300,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59300,76561198312638244,70,Posted July 10.,True,a must have classic from steam definitely wort...
59301,76561198312638244,362890,Posted July 8.,True,this game is a perfect remake of the original ...
59302,LydiaMorley,273110,Posted July 3.,True,had so much fun plaing this and collecting res...
59303,LydiaMorley,730,Posted July 20.,True,:D
59304,LydiaMorley,440,Posted July 2.,True,so much fun :D

In [35]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58431 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    58431 non-null  object
 1   item_id    58431 non-null  int64
 2   posted     58431 non-null  object
 3   recommend  58431 non-null  bool
 4   review     58401 non-null  object
dtypes: bool(1), int64(1), object(3)
memory usage: 2.3+ MB

In [36]:
df_reviews.dtypes

user_id      object
item_id       int64
posted       object
recommend      bool
review       object
dtype: object

In [37]:
df_reviews.isna().sum()

user_id       0
item_id       0
posted        0
recommend     0
review       30
dtype: int64

In [39]:
df_reviews.to_parquet(ruta_parquet_reviews)

***Análisis de sentimiento***

In [1]:
import json
import pandas as pd
import ast
import re
from textblob import TextBlob

In [2]:
df_reviews = pd.read_parquet(ruta_parquet_reviews)
df_reviews

,user_id,item_id,posted,recommend,review
0,76561197970982479,1250,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,"Posted July 15, 2011.",True,It's unique and worth a playthrough.
2,76561197970982479,43110,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,"Posted June 24, 2014.",True,I know what you think when you see this title ...
4,js41637,227300,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59300,76561198312638244,70,Posted July 10.,True,a must have classic from steam definitely wort...
59301,76561198312638244,362890,Posted July 8.,True,this game is a perfect remake of the original ...
59302,LydiaMorley,273110,Posted July 3.,True,had so much fun plaing this and collecting res...
59303,LydiaMorley,730,Posted July 20.,True,:D
59304,LydiaMorley,440,Posted July 2.,True,so much fun :D

In [3]:
# Transformando tipo de dato float a str para la columna 'review' debido a que el análisis de sentimiento arrojaba un error por el tipo de dato
df_reviews['review'] = df_reviews['review'].astype(str)

In [4]:
# Realizamos el análisis de sentimiento para la columna 'review' de df_reviews

from textblob import TextBlob

# Función para analizar el sentimiento y asignar valores según la escala
def analizar_sentimiento(texto):
    analysis = TextBlob(texto)
    if analysis.sentiment.polarity < 0:
        return 0  # Sentimiento negativo
    elif analysis.sentiment.polarity == 0:
        return 1  # Sentimiento neutral
    else:
        return 2  # Sentimiento positivo

In [5]:
# Aplicar la función de análisis de sentimiento a la columna 'texto' y crear 'sentiment_analysis'
df_reviews['sentiment_analysis'] = df_reviews['review'].apply(analizar_sentimiento)
df_reviews

,user_id,item_id,posted,recommend,review,sentiment_analysis
0,76561197970982479,1250,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...,2
1,76561197970982479,22200,"Posted July 15, 2011.",True,It's unique and worth a playthrough.,2
2,76561197970982479,43110,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...,2
3,js41637,251610,"Posted June 24, 2014.",True,I know what you think when you see this title ...,2
4,js41637,227300,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...,0
...,...,...,...,...,...,...
59300,76561198312638244,70,Posted July 10.,True,a must have classic from steam definitely wort...,2
59301,76561198312638244,362890,Posted July 8.,True,this game is a perfect remake of the original ...,2
59302,LydiaMorley,273110,Posted July 3.,True,had so much fun plaing this and collecting res...,2
59303,LydiaMorley,730,Posted July 20.,True,:D,2
59304,LydiaMorley,440,Posted July 2.,True,so much fun :D,2

In [6]:
df_reviews = df_reviews.drop("review", axis=1)
df_reviews

,user_id,item_id,posted,recommend,sentiment_analysis
0,76561197970982479,1250,"Posted November 5, 2011.",True,2
1,76561197970982479,22200,"Posted July 15, 2011.",True,2
2,76561197970982479,43110,"Posted April 21, 2011.",True,2
3,js41637,251610,"Posted June 24, 2014.",True,2
4,js41637,227300,"Posted September 8, 2013.",True,0
...,...,...,...,...,...
59300,76561198312638244,70,Posted July 10.,True,2
59301,76561198312638244,362890,Posted July 8.,True,2
59302,LydiaMorley,273110,Posted July 3.,True,2
59303,LydiaMorley,730,Posted July 20.,True,2
59304,LydiaMorley,440,Posted July 2.,True,2

Regularizar columna "posted"

In [9]:
def extraer_año(fecha):
    # Las fechas vienen en un formato del estilo 'Posted: July 15, 2013.'. Las fechas del año del dataset (2016) no
    # incluyen el año (por ejemplo, 'Posted: March 23.'). Usamos una expresión regular para extraer el año.
    result = re.search("\w* \d*, (\d*)", fecha)
    if result is not None:
        return int(result.group(1))
    else:
        return 2016

In [14]:
df_reviews["posted"] = df_reviews["posted"].apply(extraer_año)

In [15]:
df_reviews

                 user_id  item_id  posted  recommend  sentiment_analysis
0      76561197970982479     1250    2011       True                   2
1      76561197970982479    22200    2011       True                   2
2      76561197970982479    43110    2011       True                   2
3                js41637   251610    2014       True                   2
4                js41637   227300    2013       True                   0
...                  ...      ...     ...        ...                 ...
59300  76561198312638244       70    2016       True                   2
59301  76561198312638244   362890    2016       True                   2
59302        LydiaMorley   273110    2016       True                   2
59303        LydiaMorley      730    2016       True                   2
59304        LydiaMorley      440    2016       True                   2

[58431 rows x 5 columns]

In [17]:
df_reviews.to_parquet(ruta_parquet_reviews, index=False)